*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(10, 190, 250);
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper .loader{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.loader .loading{
    border: 0.5px solid black;
    border-radius: 30px;
    box-shadow: 1px 1px grey;
    background: white;
    width: 30px;
    height: 30px;
    animation: load 0.8s ease infinite;
}
.loader .loading.one{
    animation-delay: 0.3s;
}
.loader .loading.two{
    animation-delay: 0.4s;
}
.loader .loading.three{
    animation-delay: 0.5s;
}
.loader .loading.four{
    animation-delay: 0.6s;
}
@keyframes load {
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 20px;
        height: 20px;
    }
    
}